version: 2
jobs:
  build:
    docker:
      - image: debian:stretch

    steps:
      - checkout

      - run:
          name: Build updated WIM image
          command: |
            currDir=$(pwd)/
            apt-get update -qqy && apt-get install -qqy wimtools uuid-runtime bc git
            wimextract testData.wim 1 --dest-dir=/tmp/testExtract
            uuid=$(uuidgen)
            filesize=$(echo "(8*1024)*1024" | bc)
            fallocate -l 8388608 /tmp/testExtract/osteh.txt
            wimcapture /tmp/testExtract /tmp/circleciWIM.wim --compress=fast --check --norpfix "circle-ci Test" "Test capture on Github using CircleCI"
            mv /tmp/circleciWIM.wim "${currDir}circleci.wim"
            ls
          
      - run:
          name: GitHub configuration stash
          command: |
            mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
            git config user.email "danijel.james@me.com"
            git config user.name "Danijel James"
            git add .
            git commit -m "from circleci"
            git push -u origin master
          
