version: 2
jobs:
  build:
    docker:
      - image: debian:stretch

    steps:
      - checkout

      - run:
          name: set github user.email
          command: git config user.email "danijel.james@me.com"
      - run:
          name: set githum user.name
          command: git config user.name "Danijel James"
      - run:
          name: set variables
          command: currDir=$(pwd)/
      - run:
          name: Install pre-reqs
          command: apt-get update -qqy && apt-get install -qqy wimtools uuid-runtime bc
      - run:
          name: Extract WIM file
          command: wimextract testData.wim 1 --dest-dir=/tmp/testExtract
      - run:
          name: Set random file name
          command: uuid=$(uuidgen)
      - run:
          name: set filesize in bytes (8MB)
          command: filesize=$(echo "(8*1024)*1024" | bc)
      - run:
          name: Create 8MB file
          command: fallocate -l 8388608 /tmp/testExtract/osteh.txt
      - run:
          name: Capture WIM from directory with updates
          command: wimcapture /tmp/testExtract /tmp/circleciWIM.wim --compress=fast --check --norpfix "circle-ci Test" "Test capture on Github using CircleCI"
      - run:
          name: Move the captured WIM back into the repo directory
          command: mv /tmp/circleciWIM.wim "${currDir}circleci.wim"
      - run:
          name: List everything
          command: ls
      - run:
          name: Commit code
          command: git add .
          command: git commit -m '[skip ci]'
          command: git push -u origin master
