version: 2
jobs:
  build:
    docker:
      - image: debian:stretch

    steps:
      - checkout

      - run:
          name: Install pre-reqs
          command: apt-get update -qqy && apt-get install -qqy wimtools

      - run:
          name: Extract WIM file
          command: wimextract testData.wim 1 --dest-dir=/tmp/testExtract
      
      - run:
          name: Print the current date time
          command: date

